<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Modularity Browser</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{% static "modularity/css/bootstrap.min.css"%}"   type="text/css">

  <!-- Owl Carousel Assets -->
  <link href="{% static "modularity/owl-carousel/owl.carousel.css"%}" rel="stylesheet">
  <link href="{% static "modularity/owl-carousel/owl.theme.css"%}" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static "modularity/css/style.css"%}">
  <link href="{% static "modularity/css/bootstrap-datetimepicker.min.css"%}" rel="stylesheet" media="screen">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{% static "modularity/font-awesome-4.4.0/css/font-awesome.min.css"%}"  type="text/css">

  <!-- jQuery and Modernizr-->
  <script src="{% static "modularity/js/jquery-2.1.1.js"%}"></script>

  <!-- Core JavaScript Files -->
  <script src="{% static "modularity/js/bootstrap.min.js"%}"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="{% static "modularity/js/html5shiv.js"%}"></script>
  <script src="{% static "modularity/js/respond.min.js"%}"></script>
  <![endif]-->
</head>

<div class="featured container">
  <body>
    <header>
      <nav id="top">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <strong>Searh GitHub Project</strong>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="row">
      <div class="col-sm-8">
        <!-- Input Form -->
        <form action="/send-query/" method="post">
            {% csrf_token %}
            <table>
            {{ form.as_table }}
          </table>
        <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <!-- Input Form -->
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <h3>Column 1</h3>
          <p>English...</p>
          <p>English...</p>
        </div>
        <div class="col-sm-6">
          <h3>Column 2</h3>
          <p>English...</p>
          <p>English...</p>
        </div>
    </div>
</div>

  <footer>
    <div class="copy-right">
      <p>Nikesh Hegde</p>
    </div>
  </footer>
  <!-- Footer -->

  <!-- JS -->
  <script src="{% static "modularity/owl-carousel/owl.carousel.js"%}"></script>
  <script>
  $(document).ready(function() {
    $("#owl-demo-1").owlCarousel({
      autoPlay: 3000,
      items : 1,
      itemsDesktop : [1199,1],
      itemsDesktopSmall : [400,1]
    });
    $("#owl-demo-2").owlCarousel({
      autoPlay: 3000,
      items : 3,

    });
  });
  </script>


  <script type="text/javascript" src="{% static "modularity/js/bootstrap-datetimepicker.js"%}" charset="UTF-8"></script>
  <script type="text/javascript" src="{% static "modularity/js/locales/bootstrap-datetimepicker.fr.js"%}" charset="UTF-8"></script>
  <script type="text/javascript">
  $('.form_datetime').datetimepicker({
    //language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
  });
  $('.form_date').datetimepicker({
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
  });
  $('.form_time').datetimepicker({
    language:  'fr',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0
  });
</script>
</body>
</html>
